<div class="mt-12" id="products">
  <div class="mb-16">
    <h2 class="text-4xl font-semibold text-center mb-6">Our Products</h2>
    <p class="text-lg text-gray-700 text-center">
      Comprehensive range of steel products to meet all your construction and
      industrial needs
    </p>
  </div>
  <div class="grid grid-cols-4 mx-10 mb-14 gap-10">
    <div class="lg:col-span-1 col-span-2 border border-gray-600/10 p-12">
      <div class="w-9 h-9 bg-blue-200/50 rounded-md items-center flex justify-center ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#5787e5"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-box-icon lucide-box"
        >
          <path
            d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"
          />
          <path d="m3.3 7 8.7 5 8.7-5" />
          <path d="M12 22V12" />
        </svg>
      </div>
      <h1 class="text-xl font-semibold my-3">TMT Bars</h1>
      <p class="text-gray-700 text-lg">
        High-strength thermo-mechanically treated reinforcement bars for
        construction projects
      </p>
      <ol class="list-disc pl-5 my-3">
        <li class="marker:text-blue-500 text-gray-700" >Fe 415, Fe 500, Fe 550</li>
        <li class="marker:text-blue-500 text-gray-700">ISI Certified</li>
        <li class="marker:text-blue-500 text-gray-700">All Sizes Available</li>
      </ol>
      <button class="flex gap-2 py-2 w-full items-center border border-gray-200/90 justify-center hover:cursor-pointer">
        View Details
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#161718"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right-icon lucide-move-right"
        >
          <path d="M18 8L22 12L18 16" />
          <path d="M2 12H22" />
        </svg>
      </button>
    </div>
    <div class="lg:col-span-1 col-span-2 border border-gray-600/10 p-12">
      <div class="w-9 h-9 bg-gray-200/50 rounded-md items-center flex justify-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-icon lucide-circle"><circle cx="12" cy="12" r="10"/></svg>
      </div>
      <h1 class="text-xl font-semibold my-3">Steel Pipes & Tubes</h1>
      <p class="text-gray-700 text-lg">
        Quality steel pipes and tubes for various industrial and commercial applications
      </p>
      <ol class="list-disc pl-5 my-3">
        <li class="marker:text-blue-500 text-gray-700" >MS Pipes</li>
        <li class="marker:text-blue-500 text-gray-700">GI Pipes</li>
        <li class="marker:text-blue-500 text-gray-700">Seamless & ERW</li>
      </ol>
      <button class="flex gap-2 py-2 w-full items-center border border-gray-200/90 justify-center hover:cursor-pointer">
        View Details
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#161718"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right-icon lucide-move-right"
        >
          <path d="M18 8L22 12L18 16" />
          <path d="M2 12H22" />
        </svg>
      </button>
    </div>
    <div class="lg:col-span-1 col-span-2 border border-gray-600/10 p-12">
      <div class="w-9 h-9 bg-gray-200/50 rounded-md items-center flex justify-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layers-icon lucide-layers"><path d="M12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83z"/><path d="M2 12a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 12"/><path d="M2 17a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 17"/></svg>
      </div>
      <h1 class="text-xl font-semibold my-3">Sheets & Plates</h1>
      <p class="text-gray-700 text-lg">
        Premium quality steel sheets and plates in various grades and thicknesses
      </p>
      <ol class="list-disc pl-5 my-3">
        <li class="marker:text-blue-500 text-gray-700" >HR Sheets</li>
        <li class="marker:text-blue-500 text-gray-700">CR Sheets</li>
        <li class="marker:text-blue-500 text-gray-700">Chequered Plates</li>
      </ol>
      <button class="flex gap-2 py-2 w-full items-center border border-gray-200/90 justify-center hover:cursor-pointer">
        View Details
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#161718"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right-icon lucide-move-right"
        >
          <path d="M18 8L22 12L18 16" />
          <path d="M2 12H22" />
        </svg>
      </button>
    </div>
    <div class="lg:col-span-1 col-span-2 border border-gray-600/10 p-12">
      <div class="w-9 h-9 bg-pink-200/50 rounded-md items-center flex justify-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#9034a2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
      </div>
      <h1 class="text-xl font-semibold my-3">Custom Fabrication</h1>
      <p class="text-gray-700 text-lg">
        Bespoke steel fabrication services tailored to your specific project requirements
      </p>
      <ol class="list-disc pl-5 my-3">
        <li class="marker:text-blue-500 text-gray-700" >Custom Design</li>
        <li class="marker:text-blue-500 text-gray-700">Precision Cutting</li>
        <li class="marker:text-blue-500 text-gray-700">Quality Welding</li>
      </ol>
      <button class="flex gap-2 py-2 w-full items-center border border-gray-200/90 justify-center hover:cursor-pointer">
        View Details
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#161718"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right-icon lucide-move-right"
        >
          <path d="M18 8L22 12L18 16" />
          <path d="M2 12H22" />
        </svg>
      </button>
    </div>
    
  </div>
  <div class="flex justify-center items-center flex-col gap-4">
    <p class="text-center text-lg">Can't find what you're looking for? </p>
    <button class="text-xl border border-gray-700/10 px-6 py-2 mb-10 rounded-xl font-semibold ">Request Custom Quote</button>
  </div>
</div>
