<div
  class="flex flex-col  lg:justify-between lg:items-center pl-20 pt-10 lg:pt-1   lg:flex-row bg-linear-to-br from-blue-600 to-gray-800 lg:h-[60vh] h-fit min-w-full"
>
  <div class="flex-1/2  ">
    <p
      class="text-xl w-fit px-4 py-2 text-nowrap text-white bg-blue-300/70 backdrop-blur-md rounded-4xl text-center border-white/40 border"
    >
      India's Leading Steel B2B Platoform
    </p>
    <div class="my-8">
      <p class="text-xl text-white">Connect. Trade. Grow</p>
      <p class="text-xl text-gray-100/60">India's Steel Industry</p>
    </div>
    <p class="text-white text-lg max-w-[80%]">
      SteelNexa streamlines supplier–buyer relationships in the steel industry
      through digital matchmaking and communication. Connect with verified
      manufacturers, dealers, and end users across India.
    </p>
    <div class="my-8 text-blue-500 text-xl flex">
      <button
        class="flex bg-white px-4 py-2 rounded-lg items-center gap-2 mr-4"
      >
        Get Started
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#327df5"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right-icon lucide-move-right"
        >
          <path d="M18 8L22 12L18 16" />
          <path d="M2 12H22" />
        </svg>
      </button>
      <button
        class="flex bg-white px-4 py-2 rounded-lg items-center gap-2 mr-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#327df5"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-search-icon lucide-search"
        >
          <path d="m21 21-4.34-4.34" />
          <circle cx="11" cy="11" r="8" />
        </svg>
        Find Suppliers
      </button>
    </div>
    <hr class="text-white/10 max-w-[80%]"  />
    <div class="flex gap-8 text-nowrap mt-8 text-white text-base">
      <div class="">
        <p>500+</p>
        <p>Verified Suppliers</p>
      </div>
      <div>
        <p>10,000+</p>
        <p>Monthly Connections</p>
      </div>
      <div>
        <p>₹100Cr+</p>
        <p>Trade Volume</p>
      </div>
    </div>
  </div>
  <div class="flex-1/2  flex col-span-2 pr-10 mt-10 mb-12">
    <div class="col-span-1 ">
      <div class="py-6  px-6 bg-white rounded-xl  w-fit mb-4 mr-4">
        <div class=" bg-blue-100 rounded-md mx-2 w-8 h-8 flex justify-center items-center ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#327df5"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-trending-up-icon lucide-trending-up  "
        >
          <path d="M16 7h6v6" />
          <path d="m22 7-8.5 8.5-5-5L2 17" />
        </svg>
        </div>
        <h1 class="text-xl font-normal my-4 ">Market Insights</h1>
        <p class="text-lg text-gray-700 text-wrap">Real-time steel pricing & trends</p>
      </div>
      <div class="py-6  px-6 bg-white rounded-xl  w-fit mt-4 mr-4">
        <div class=" bg-green-100 rounded-md mx-2 w-8 h-8 flex justify-center items-center ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#36ab49"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-shield-icon lucide-shield"
        >
          <path
            d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"
          />
        </svg>
        </div>
        <h1 class="text-xl font-normal my-4 ">Market Insights</h1>
        <p class="text-lg text-gray-700">Real-time steel pricing & trends</p>
      </div>
    </div>
    <div class="col-span-1">
      <div class="py-6  px-6 bg-white rounded-xl  w-fit ml-4 mb-4">
        <div class=" bg-fuchsia-100 rounded-md mx-2 w-8 h-8 flex justify-center items-center ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#6e3196"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-users-round-icon lucide-users-round"
        >
          <path d="M18 21a8 8 0 0 0-16 0" />
          <circle cx="10" cy="8" r="5" />
          <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
        </svg>
        </div>
        <h1 class="text-xl font-normal my-4 ">Market Insights</h1>
        <p class="text-lg text-gray-700">Real-time steel pricing & trends</p>
      </div>
      <div class="py-6  px-6 bg-white rounded-xl  w-fit mt-4 ml-4">
        <div class=" bg-red-100 rounded-md mx-2 w-8 h-8 flex justify-center items-center ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#b05e5e"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-zap-icon lucide-zap"
        >
          <path
            d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
          />
        </svg>
        </div>
        <h1 class="text-xl font-normal my-4 ">Market Insights</h1>
        <p class="text-lg text-gray-700">Real-time steel pricing & trends</p>
      </div>
    </div>
  </div>
</div>